@font-face {
    font-family: "LXGW WenKai Lite";
    src: url("https://cdn.sjtuxhw.top/fonts/LXGWWenKaiLite-Regular.woff2") format("woff2"),
         url("https://cdn.sjtuxhw.top/fonts/LXGWWenKaiLite-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MonoLisa";
    src: url("https://cdn.sjtuxhw.top/fonts/MonoLisa-Regular.otf") format("opentype");
}

